.list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: aqua;
}

.list__item {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.list__title {
  color: darkmagenta;
}



