.study {
  display: grid;
  grid-template-columns:  200px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: aqua;
}

.study__category {
  grid-column: span 2;
}



